@model IEnumerable<Badminton.Models.tb_Brand>

@{
    ViewBag.Title = "Danh sách thương hiệu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách thương hiệu</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brandname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brandname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logo)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id=item.id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
