<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PETSHOP</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/favicon.ico">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .menu {
            background-color: #EEEEEE !important;
            color: black;
        }

        .body-content {
            min-height: 1000px;
        }

        .footer {
            background-color: #EEEEEE;
            color: black;
            padding: 20px;
        }

        .nav-link {
            color: black;
        }

            .nav-link:hover {
                color: blue;
            }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark menu">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Quản lý người dùng", "Index", "tb_User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý thương hiệu", "Index", "tb_Brand", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý danh mục", "Index", "tb_Category", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý sản phẩm", "Index", "tb_Product", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý đơn hàng", "Index", "tb_Order", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý chi tiết đơn hàng", "Index", "tb_OrderDetail", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Đăng xuất", "Logout", "tb_User", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer style="margin-top: 20px;">
        <div class="text-center footer container-fluid">
            <p>PetShop sự lựa chọn tuyệt vời cho thú cưng của bạn</p>
            <p>SĐT: 0967999999</p>
            <p>EMAIL: email@gmail.com</p>
            <p>Địa chỉ: phố Văn Trì, Minh Khai, Bắc Từ Liêm, Hà Nội</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
